<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.tainzhi.sample.api"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution">

    <dist:module dist:instant="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".service.ServiceActivity"/>

        <service
            android:name=".service.RemoteService"
            android:process=":remote"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".recyclerview.CardScaleHelperActivity" />
        <activity android:name=".touch.multi.MultiTouchActivity" />
        <activity android:name=".touch.single.SingleTouchActivity" />
        <activity android:name=".touch.TouchEntranceActivity" />
        <activity
            android:name=".handler.HandlerActivity"
            android:label="@string/title_activity_handler"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".recyclerview.RecyclerViewFilterableActivity"
            android:label="@string/title_activity_recycler_view_filterable"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".recyclerview.RecyclerViewStaggeredGridLayoutActivity"
            android:label="@string/title_activity_recycler_view_staggered_grid_layout"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".recyclerview.RecyclerViewEntranceActivity"
            android:label="@string/title_activity_recycler_view_entrance"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".recyclerview.RecyclerViewGridLayoutActivity"
            android:label="@string/title_activity_recycler_view_grid_layout"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".tablayout.GoogleTabLayoutAdvanceActivity"
            android:label="@string/title_activity_google_tab_layout_advance"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".GuidePageActivity"
            android:label="@string/title_activity_guide_page"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name=".recyclerview.RecyclerViewActivity"
            android:label="@string/title_activity_recycler_view"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".tablayout.GoogleTabLayoutActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>